html, body {
    background-color: white;
    font-size: 15px;
    font-family: "Gelasio", serif;
    margin: 0;
    padding: 0;
}

#phonebooth {
    padding-top: 11vw;
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.hc-logo {
    transform: rotate(0deg) translateY(-0.5rem);
    transition: transform 0.3s ease-in-out;
}

.hc-logo:hover {
    transform: rotate(10deg) translateY(0.5rem);
}

.banner {
    background-color: #e7bda2;
    width: 100vw;
    height: auto;
    position: relative;
}

.banner-panel {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5vw;
    background-color: #e7bda2;
    border: 0.3vw dashed black;
    border-radius: 15px;
    text-align: center;
}

.tagline {
    font-size: 1.43vw;
    font-weight: 600;
}

.button {
    display: inline-block;
    padding: 0.5vw;
    font-size: 1.2vw;
    border-radius: 12px;
    transition: filter 0.1s ease-in-out;
}

.button:hover {
    filter: brightness(85%);
}

.red {
    background-color: #d00000;
    text-decoration: none;
    color: white;
}