html, body {
    background-color: white;
    font-size: 15px;
    font-family: "EB Garamond", serif;
    margin: 0;
    padding: 0;
}

#phonebooth {
    padding-top: 15rem;
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hc-logo {
    transform: rotate(0deg) translateY(-0.5rem);
    transition: transform 0.3s ease-in-out;
}

.hc-logo:hover {
    transform: rotate(10deg) translateY(0.5rem);
}

.banner {
    background-color: #e7bda2;
    width: 100vw;
    height: auto;
}